body {
    background-color: palevioletred;
}
#gridContainer {
    display: flex;
    background-color: black;
    min-width: 300px;
    min-height: 100px;
}

.tile {
    background-color: white;
    min-height: 20px;
    min-width: 20px;
}