body {
    background-color: palevioletred;
}
#gridContainer {
    display: flex;
    flex-direction: column;
    background-color: grey;
    min-width: 1000px;
    min-height: 1000px;
    gap: 0px;
    margin: 0;
    padding: 0;
}

.grid-row {
    display: flex;
    min-width: 1000px;
}

.tile {
    background-color: white;
    height: 40px;
    width: 40px;
}